.all-data {
    font-family: Arial, Helvetica, sans-serif;
    color: #212122;
}

.all-data-button {
    border: none;
    border-radius: 4px;
    background-color: #f6f6f6;
    padding-right: 40px;
}