{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all_data.css')}}">
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="http://127.0.0.1:5000">Home</a>
    <a href="http://127.0.0.1:5000//days">Days</a>
    <a href="http://127.0.0.1:5000//yesterday">Yesterday</a>
    <a class="active" href="http://127.0.0.1:5000//all_data">All data</a>

</div>


<h1>Data from Database</h1>
<button class="all-data-button">
    <ul>
        {% for row in data %}
            <li class="all-data">{{ row }}</li>
            
        {% endfor %}
    </ul>
</button>

{% endblock %}
