{% extends 'base.html' %}

{% block head %}
<title>Temp data</title>
{% endblock %}

{% block body %}
<button class="go-button">
    <a class="button-text"
    href="http://127.0.0.1:5000//day">To temprature every day
    </a>
</button>

<button class="go-button">
    <a class="button-text"
    href="http://127.0.0.1:5000//yesterday">To temprature yesterday
    </a>                  
</button>

<button class="go-button">
    <a class="button-text"
    href="http://127.0.0.1:5000//all_data">To all the data
    </a>
</button>

<p class="index-main">
    hello 
</p>
{% endblock %}
